<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="CourseDB" 
         connectionString="Server=localhost;Database=CourseManagementDB;Uid=root;Pwd=password;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFService.CourseService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WCFService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFService.IService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>